[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "overviewR"]
	path = overviewR
	url = https://github.com/cosimameyer/overviewr
